.Body {
  background-image: url("https://media.giphy.com/media/CNTygGJqvo1Ak/giphy.gif");
  background-size: auto;
  padding-top: 90px;
  width: 100%;
  height: 200vh;
  display: flex;
}

 .List {
  height: 30vh;
  margin: 10px;
  padding: 10px;
  padding-right: 10px;
  background: rgba(32, 178, 171, 0.336);
  width: 50%
 }

 .Addbar {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
 }

 header{
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  height: 90px;
  background: rgba(218, 165, 32, 0.856);
  text-align: center;
 }

 header h2 {
   margin: 10px;
 }

 .Addbar input, .Addbar button{
  margin-top: 10px
 }

 .timer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px;
 }



